# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Environment variables and secrets
.env

# Django-related files
db.sqlite3 
media/ 
staticfiles/ 
images/
# Virtual environment
venv/
env/
.virtualenv/

# IDE and editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Migrations (optional)
# You might want to include these for version control, but if not:
migrations/

# Node.js files (if applicable)
node_modules/

JWT
usernamepass