__pycache__/
*.py[cod]

*.sqlite3
*.env
*.venv
venv/
env/
ENV/


.vscode/
.idea/
*.swp
*.swo

*.log
db.sqlite3

/staticfiles/
/mediafiles/

*.sass-cache/
*.scss-cache/
node_modules/

.DS_Store
Thumbs.db
